/* RESET  
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
*/

body {
	margin: 0px;
	background:url(../images/bg/all.jpg) no-repeat top center #000;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
	color: #fff;
	text-shadow: 2px 2px 2px #0d0d0d;
	font-size: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;	
}


h1 {font-size:20px; margin-bottom:25px;}



a:link {
	color: #93979f;
}
a:visited {
	color: #93979f;
}
a:hover {
	color: #777a7f;
}
a {
	text-decoration: none
}
a:active {
	color: #93979f;
}



/********************** Boxes ******************/
#naviContainer {
	float:right;
	clear:both;
	text-align:right; 
	margin-right:45px;
	margin-top:-5px;
}

#recentlyClosedTabsList {clear:both; float:left; }

#naviContainer img {float:right; margin-left:5px; }

#next_inactive, #previous_inactive {display:none;}

.mainContainer {
	margin-top:200px;	
}


.bottomContainer {
	background:url(../images/bg/bottom.png) repeat-y;	
}

.topIcon {
	position:absolute;
	z-index:99;
	top:0px;
	left: 50px;
}


#log {
	padding:5px; 
	background: #fff; 
	position:absolute; width:350px; height:350px; overflow:scroll; right:400px; top:50px;
	font-size:12px;
	display: none;
	color:black;
	text-shadow: none;
}

.box {
	width:416px;
	margin:0px 20px 0px 20px;
	height:353px;
	padding:6px 10px 10px 20px;
	background:url(../images/box2.png) no-repeat;
}

#recentlyClosedTabsList li {margin-bottom:14px;}
#recentlyClosedTabsList {height:220px;}
/*
.recentlyClosedTabsList td {height:350px;}
*/