body {
	margin: 0px;
	background:url(../images/bg.jpg) no-repeat top center #000;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
	color: #fff;
	text-shadow: 2px 2px 2px #0d0d0d;
	font-size: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;	
}


h1 {
	font-size:20px;
}

.recentlyClosedTabs h1 {
	margin-bottom:25px;
}

.favsContainer h1 {
	margin-bottom:26px;
}

a:link {
	color: #93979f;
}

a:visited {
	color: #93979f;
}

a:hover {
	color: #777a7f;
}

a {
	text-decoration: none;
}

a:active {
	color: #93979f;
}


/********************** Basic Layout elements ******************/
.mainContainer {
	margin-top:200px;	
}

.topIcon {
	position:absolute;
	z-index:99;
	top:0px;
	left: 50px;
}

#log {
	padding:5px; 
	background: #fff; 
	position:absolute; width:350px; height:350px; overflow:scroll; right:400px; top:50px;
	font-size:12px;
	display: none;
	color:black;
	text-shadow: none;
}



/********************** Boxes ******************/
.box {
	width:416px;
	margin:0px 20px 0px 20px;
	height:353px;
	padding:6px 10px 10px 20px;
	background:url(../images/box.png) no-repeat;
}



/********************** Navigation ******************/
#naviContainer {
	float:right;
	clear:both;
	text-align:right; 
	margin-right:45px;
	margin-top:30px;
}
.beforeNavi {clear:both; float:left; height:220px; }

#naviContainer img {float:right; margin-left:5px; }
#next_inactive, #previous_inactive {display:none;}

#recentlyClosedTabsList li {margin-bottom:14px;}

